#home {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

#wcTXT {
    font-size: 15px;
    text-shadow: none;
}

#AAGALERIATXT {
    text-align: center;
    margin: 0px;
    font-size: 50px;
    /* text-shadow: 2px 2px 0px black; */

    mix-blend-mode: difference;

    /* grid-area: 1/1; */
}


#HOMEimgCONT {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

#aagMAINIMG, .projIMG {
    grid-area: 1/1;
}

#aagMAINIMG {
    height: 200px;
    width: 200px;

    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    

    /* box-shadow: 10px 10px 0px black; */
}

#HOMEashleyWCC, #HOMEjuddWCC, #HOMEanthonyWCC,
#HOMEblessWCC {
    border-radius: 10px;
    box-shadow: 5px 5px 10px #010511;

}

#HOMEashleyWCC {
    height: 110px;
    width: 110px;
    margin-bottom: 190px;
    margin-right: 190px;

}   

#HOMEjuddWCC {
    height: 100px;
    width: 100px;

    margin-bottom: 270px;
    margin-left: 150px;
}

#HOMEanthonyWCC {
    height: 95px;
    width: 95px;

    margin-top: 240px;
    margin-right: 150px;
}

#HOMEblessWCC {
    height: 90px;
    width: 90px;

    margin-top: 180px;
    margin-left: 150px;
}

#sqr1 {
    height: 190px;
    width: 190px;
    background-color: transparent;

    outline: black solid 5px;

    margin-bottom: 20px;
    margin-right: 20px;
    /* margin-left: 20px; */
}

@media (min-width: 768px) {
    #home {
        flex-direction: row;
        align-items: center;

        justify-content: space-between;
    }

    #AAGALERIATXT {
        margin-right: 10%;
        font-size: 60px;
        /* align-self: center; */
        /* justify-self: center; */
    }
}

@media (min-width: 1024px) {
    #aagMAINIMG  {
        height: 18rem;
        width: 18rem;
    }

    #HOMEashleyWCC {
        height: 10rem;
        width: 10rem;
        margin-bottom: 340px;
        margin-right: 340px;
    }

    #HOMEjuddWCC {
        height: 7rem;
        width: 7rem;

        margin-bottom: 320px;
        margin-left: 300px;
    }

    #HOMEanthonyWCC {
        height: 8rem;
        width: 8rem;
    
        margin-top: 340px;
        margin-right: 280px;
    }

    #HOMEblessWCC {
        height: 7rem;
        width: 7rem;
    
        margin-top: 280px;
        margin-left: 250px;
    }
}