@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Tilt+Neon&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Delius&family=Limelight&family=Tilt+Neon&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Limelight&family=Noto+Sans+Mono:wght@100..900&family=Tilt+Neon&display=swap');

body {
    width: 100vw;
    /* height: 100vh; */
    overflow-x: hidden;

    /* position: relative; */

    background-color: #d4d6fc;
    font-family: "Limelight";
    color: #FFD87B;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    margin: 0px;
    position: relative;
    top: 0px;
    left: 0px;
}
/* 
body * {
    overflow-x: hidden;
} */

